@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 100%, 74%);
    font-size: 16px;
}
main{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: url(bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    padding: 90px;
}
.content-one{
    width: 43%;
    font-family: 'Poppins', sans-serif;
}
.content-two{
   width: 42%;
   margin-left: 33px;
}
.try-it{
   background-color:  hsl(248, 32%, 49%); 
   border-radius: 5px 5px 5px 5px;
   color: white;
   padding: 19px;
   width: 92%;
   font-family: 'Poppins', sans-serif;
}
.form{
    background-color: white;
    width: 92%;
    height: 100%;
    border-radius: 4px 4px 4px 4px;
    margin-top: 17px;
    padding: 23px;
}
#name, #lastname, #email, #password, #claim{
    width: 100%;
    height: 33px;
    padding-left: 7px;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
}
#claim{
    background-color: hsl(154, 59%, 51%);
    color: white;
    padding-top: 6px;
    padding-bottom: 12px;
    font-weight: 500;
    height: auto;
}
#clicking{
    text-align: center;
    padding-bottom: 18px;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: red;
}
h3{
    font-size: 54px;
    color: white;
    margin-bottom: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
#paragraph{
    color: white;
    font-size: 16px;
}
/* Media Queries */
@media (max-width: 375px) {
    main{
        display: inline;
    }
    .content-one    {
        width: 90%;
        margin-left: 18px;
        margin-bottom: 83px;
    }
    .content-two    {
        width: 90%;
    }
}
